spring:
  jpa:
      hibernate.ddl-auto: update
      database-platform: org.hibernate.dialect.H2Dialect
  datasource:
    url: jdbc:h2:mem:checklist-app-db
    driverClassName: org.h2.Driver
    username: sa
    password: password
h2:
  console:
    path: /h2-console